<% -layout("/layouts/boilerplates.ejs")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
        
  <h3>Edit Listing</h3>
  <form action="/listings/<%= listing._id%>/?_method=PUT"  novalidate class="needs-validation" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" claas="form-lable">Title:</label>

      <input
        type="text"
        name="listing[title]"
        value="<%= listing.title%>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Please provide a valid Title.
      </div>
    </div>
    <div class="mb-3">
      <label for="Description" claas="form-lable">Description:</label>
      <textarea
        name="listing[description]"
        cols="30"
        rows="3"
        class="form-control"
        required
      ><%= listing.description %></textarea>
      <div class="invalid-feedback">
        Please provide some description.
      </div>
    </div>
    <div class="mb-3">
      <p >Orignal Listing Image: </p>
     <img src="<%= orignalImg %>" alt="Preview image" class="previewImg">
    </div>
    <div class="mb-3">
      <label for="Image Url" claas="form-lable">Upload NewListing Image: </label>
      <input
        type="file"
        placeholder="enter image url"
        name="listing[url]"
        class="form-control"
      />
      <div class="invalid-feedback">
        Please provide valid type png, jpg, jpeg image .
      </div>
    </div>
    <div class="mb-3">
      <label for="Price" claas="form-lable">Price:</label>
      <input
        type="number"
        name="listing[price]"
        value="<%= listing.price%>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Please provide a  vlid Price.
      </div>
    </div>

    <div class="mb-3">
      <label for="location" claas="form-lable">Location:</label
      ><input
        type="text"
        class="form-control"
        name="listing[location]"
        value="<%= listing.location%>"
        required
      />
      <div class="invalid-feedback">
        Please provide a valid Location.
      </div>
    </div>

    <div class="mb-3">
      <label for="country" claas="form-lable">Country</label>
      <input
        type="text"
        name="listing[country]"
        value="<%= listing.country%>"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Please provide a valid Country.
      </div>
    </div>
   
    <br>
    <div class="mb-3"><button class=" btn btn-dark add-btn">Save</button></div> 
  </form>

</div>
</div>
<script src="/js/script.js"></script>
</body>
